BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "ECP5EVN_CLK" SITE "A10" ;
LOCATE COMP "ECP5EVN_RST_N" SITE "P4" ;
IOBUF PORT "ECP5EVN_CLK" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ECP5EVN_RST_N" IO_TYPE=LVCMOS33 ;

LOCATE COMP "ECP5EVN_LED7" SITE "B17" ;
LOCATE COMP "ECP5EVN_LED6" SITE "A17" ;
LOCATE COMP "ECP5EVN_LED5" SITE "C17" ;
LOCATE COMP "ECP5EVN_LED4" SITE "B18" ;
LOCATE COMP "ECP5EVN_LED3" SITE "A18" ;
LOCATE COMP "ECP5EVN_LED2" SITE "B19" ;
LOCATE COMP "ECP5EVN_LED1" SITE "A12" ;
LOCATE COMP "ECP5EVN_LED0" SITE "A13" ;



LOCATE COMP "ECP5EVN_TX" SITE "J5";
LOCATE COMP "ECP5EVN_RX" SITE "J4";
IOBUF PORT "ECP5EVN_TX" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "ECP5EVN_RX" PULLMODE=UP IO_TYPE=LVCMOS33;

#LOCATE COMP "clk_200" SITE "Y19";
#IOBUF PORT "clk_200" IO_TYPE=LVDS25;

#Camera Wiring
LOCATE COMP "SIO_C" SITE "J3";
LOCATE COMP "SIO_D" SITE "K3";
IOBUF PORT "SIO_C" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "SIO_D" PULLMODE=UP IO_TYPE=LVCMOS33;

LOCATE COMP "VSYNC" SITE "L4";
LOCATE COMP "HREF" SITE "L5";

LOCATE COMP "PCLK" SITE "F1";	#PCLK pin according to spreadsheet view
LOCATE COMP "XCLK" SITE "G1";	#PCLK pin according to spreadsheet view

LOCATE COMP "Data[0]" SITE "K4";
LOCATE COMP "Data[1]" SITE "D14";
LOCATE COMP "Data[2]" SITE "P1";
LOCATE COMP "Data[3]" SITE "C14";
LOCATE COMP "Data[4]" SITE "L1";
LOCATE COMP "Data[5]" SITE "L2";
LOCATE COMP "Data[6]" SITE "N2";
LOCATE COMP "Data[7]" SITE "L3";

#The pins are from the same bank. Not specifying the IO type threw errors
IOBUF PORT "XCLK"  IO_TYPE=LVCMOS33;
IOBUF PORT "VSYNC" IO_TYPE=LVCMOS33;
IOBUF PORT "HREF"  IO_TYPE=LVCMOS33;
IOBUF PORT "PCLK"  IO_TYPE=LVCMOS33;

IOBUF PORT "Data[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "Data[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "Data[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "Data[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "Data[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "Data[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "Data[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "Data[7]" IO_TYPE=LVCMOS33;
